@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="card">
    <div class="card-title text-center mt-5">
        <h3 class="font-weight-bold">Tray Contents</h3>
        <img src="https://github.com/youngmin-chung/capture/blob/master/tray.png?raw=true" style="height:10%;width:10%;padding-bottom:5%;" />
    </div>
    <div class="text-center">
        @{ Dictionary<int, object> tray = Context.Session.Get<Dictionary<int, Object>>("tray");
            int calTot = 0;
            decimal fatTot = 0.0M;
            int saltTot = 0;
            int cholTot = 0;
            int proTot = 0;
            int fbrTot = 0; }
        <table class="table table-striped">
            <tr style="font-weight:bolder;">
                <th class="text-center">Qty</th>
                <th class="text-left">Description</th>
            </tr>
            @{ if (tray != null)
                {
                    foreach (var key in tray.Keys)
                    {
                        MenuItemViewModel item = JsonConvert.DeserializeObject
                        <MenuItemViewModel>
                        (Convert.ToString(tray[key]));
                        if (item.Qty > 0)
                        {
                            fbrTot += item.Fibre * item.Qty;
                            calTot += item.Calories * item.Qty;
                            saltTot += item.Sodium * item.Qty;
                            fatTot += item.Fat * item.Qty;
                            cholTot += item.Cholesterol * item.Qty;
                            proTot += item.Protein * item.Qty;
    <tr>
        <td class="text-center">@item.Qty</td>
        <td class="text-left">@item.Description</td>
    </tr> }
                    }
                } }
        </table>
        <hr />
        <table class="table table-striped">
            <tr>
                <th colspan="4" class="text-left" style="font-size:large;font-weight:bold;">Tray Totals</th>
            </tr>
            <tr>
                <td class="text-right font-weight-bold">Cals</td>
                <td class="text-left" id="cal">@calTot</td>
                <td class="text-right font-weight-bold">Choles.</td>
                <td class="text-left" id="chol">@cholTot</td>
            </tr>
            <tr>
                <td class="text-right font-weight-bold">Fat</td>
                <td class="text-left" id="fat">@fatTot</td>
                <td class="text-right font-weight-bold">Fibre</td>
                <td class="text-left" id="fibre">@fbrTot</td>
            </tr>
            <tr>
                <td class="text-right font-weight-bold">Protein</td>
                <td class="text-left" id="pro">@proTot</td>
                <td class="text-right font-weight-bold">Salt</td>
                <td class="text-left" id="salt">@saltTot</td>
            </tr>
        </table>
        <div class="text-center mb-3">
            &nbsp;<a href="/Tray/ClearTray" class="btn btn-sm btn-success">Clear Tray</a>
        </div>
    </div>
</div>